{% extends "base.html" %}

{% block content %}

<h3>New Blog Entry!</h3>
<form method='post', action='/newpost'>
    <label>
        New Blog Title:
        <input type="text" name="title" value="{{blog_title}}"/>
    </label>
    <span class="error">{{title_error}}</span>
    <br>
    <br>
    <label>
        New Blog Content:
        <input type="text" name="content" value="{{blog_content}}"/>
    </label>
    <span class="error">{{content_error}}</span>
    <br>
    <br>
    <input type="submit" value='Add Blog Entry' />
</form>

{% endblock %}